$primary: #0056D0;
$secondary: #E87287;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #EBF1FB;
$dark: #212529;
$white: #fff;
$bg: #F1F7FE;
$transparent: transparent;
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

